
.container-entradas{
    display: flex; 
    margin-bottom: 10px; 
    margin-top: 20px;
}

.container-bpm{
    margin-right: 150px;
}

.container-bpm input{
    width: 50px; 
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

.container-volume{
    width: 300px; 
    margin-bottom: 10px;
}

.counter-texto{
    color: gray; 
    text-align: right;
    margin-top: 5px;
}

.container-botoes{
    display: flex; 
    justify-content: right; 
    margin-top: 10px; 
    margin-bottom: 10px;
}

.alert {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid transparent;
}
.alert-error {
    color:#222;
    background-color: #dfdfdf;
}